<div ng-click="urlshow()">
<div id="todisplay">
<div id="control">
<button id="hideshow" ng-click="hides()">Hide</button>
<a id="cval" style="display:none">false</a>
<div id="controls" style="display:inline">
<input ng-keypress="keyhand($event)" ng-mousedown="pastec()" class="form-control form-control-sm" onclick="document.getElementById('down').click()" id="url" type="text" style="width:73%" class="form-control" placeholder="Youtube URL" aria-label="Username" aria-describedby="basic-addon1">
<button ng-click="down" style="display:none" id="down">Down</button>
<button ng-click="clear()" style="left:1px;color:red">x</button>
<button id="lang1" style="display:inline;left:3" ng-click="play()">Play</button>
<button ng-click="sample()">Play example</button>
<input type="checkbox" ng-model="checksel" ng-change="setLoop()"><a style="color:white">Loop Video</a></input>
<a style="color:red" id="error"></a>
<div class="video-container">
<iframe sandbox="allow-scripts allow-same-origin" oncontextmenu="console.log('Try to open url')" onload="console.log(this.src)" ng-click="error()" id="video" style="height:100%" frameBorder="0" width="95%" height="100%" src="/ui/modules/apps/Video/luft.html" allow="fullscreen"></iframe>
</div>
</div>
</div>
<style>
.hideshow {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
}
#url {

}
#lang1 {
background-color:white;
}
#lang0 {

}
</style>
</div>
</div>